
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Ignore screenshot images only
/screenshots/*.png

# Keep the folder
!/screenshots/.gitkeep
